@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-card-background: var(--card-background);
    --color-foreground: var(--foreground);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-indigo-accent: var(--indigo-accent);
    --color-rose-accent: var(--rose-accent);
}

:root {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    font-synthesis: weight style;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Dark Mode Colors */
    --background: var(--color-zinc-950);
    --card-background: var(--color-zinc-900);
    --foreground: var(--color-zinc-50);
    --secondary-foreground: var(--color-zinc-400);
    --indigo-accent: var(--indigo-600);
    --rose-accent: var(--rose-600);
}

.text-highlight {
    @apply bg-[#D1ACD6] text-zinc-950 font-bold p-0.5;
}

.tag-highlight {
    @apply bg-indigo-200 text-zinc-950 font-bold text-sm px-0.5;
}

.project-title {
    @apply text-xl font-semibold;
}

.section {
    @apply bg-card-background flex flex-col gap-y-8 px-4 py-8 text-left rounded-3xl md:grid md:grid-cols-2 md:gap-x-4;
}

.section-lg-grid {
    @apply bg-card-background flex flex-col gap-y-8 px-4 py-8 text-left rounded-3xl md:grid lg:grid-cols-3 lg:gap-x-4;
}

img {
    @apply object-contain;
}

.technology-logo {
    @apply size-16;
}
